body {
    background-image: url("../img/star-wars-video-call-backgrounds-4.jpg");
}

h1 {
    color: rgb(255	224	50	);
}

.col-6 {
    padding-bottom: 25px;
}

.card {
    background-color:rgba(0, 0, 0, 0.5);
    border-color: rgb(255, 224, 50	);
}

.card-header {
    color: rgb(82	222	239	);
}

.list-group-item {background-color:rgba(0, 0, 0, 0.5);}
